* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECE3D5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*the navbar*/
.navbar {
    margin: 0 2rem;
    height: 100%;
    z-index: 999;
}

.line-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0; /* No space between the navbar and the lines */
}

.line-wrapper .line {
    width: 100%;
    height: 1.5px; /* Skinnier lines */
    background-color: #634028;
    margin: 2px 0; /* Reduced spacing between lines */
}

.top-line,
.bottom-line {
    display: none; /* Hiding the original single line */
}

/* Default navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

nav .logo {
    width: 77px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul a {
    color: #634028;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

nav ul a:hover {
    color: #ECE3D5;
    background-color: #634028;
    border-radius: 5px;
}

/* Burger menu styles */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #634028;
    margin: 4px;
    transition: 0.3s;
}



/* Menu toggle functionality */
.menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #634028;
}


.line {
    width: 100px;
    height: 4px;
    background-color: #634028;
    margin: 0 auto 30px;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.team {
    padding: 40px 0;
}

.team-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px;
}

.team-item img {
    
    width: 100%;
    display: block;

}

.team-item {
    position: relative;
    overflow: hidden;

}

.team-item .overlay {
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.6);
    -webkit-backdrop-filter: grayscale(1);
    backdrop-filter: grayscale(1);
    transform: translateX(-100%);
    transition: 0.6s;
}

.team-item:hover .overlay {
    transform: rotate(140deg);
}

.team-item .info {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(-50%);
    padding: 10px 15px;
    padding-left: 100px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #634028;
    clip-path: inset(0 0 100% 0);
    transition: 0.6s;
}

.team-item:hover .info {
    padding-left: 20px;
    clip-path: inset(0);

}

.team-item h2  {
    font-size: 28px;
    font-weight: 600;
}
/*footer-start*/
footer {
    background-color: #A8927F;
    color: #634028;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-bottom: 20px;
    margin-right: 40px;
}

.logo-img {
    max-width: 150px; /* Adjust based on your logo size */
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #634028;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.footer-links a:hover {
   color: #ECE3D5;
}

.footer-social {
    margin-bottom: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;

}
.footer-social a {
    color: #634028;
    text-decoration: none;
    width: 500px;
}
/*footer end*/